streamlit>=1.37
pandas>=2.2
numpy>=1.26
duckdb>=1.0.0
pyarrow>=16.0
xlsxwriter>=3.2.0
google-api-python-client>=2.136.0
google-auth>=2.33.0
google-auth-httplib2>=0.2.0
python-dateutil>=2.9.0
bcrypt>=4.1.2
google-auth-httplib2
streamlit-option-menu
